[submodule "include/osh-oakridge-modules"]
	path = include/osh-oakridge-modules
	url = git@github.com:Botts-Innovative-Research/osh-oakridge-modules.git
[submodule "include/osh-core"]
	path = include/osh-core
	url = https://github.com/earocorn/osh-core
[submodule "include/osh-addons"]
	path = include/osh-addons
	url = git@github.com:opensensorhub/osh-addons.git
